.category {
  display: block;
}

.content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid #dadada; */
  margin: 0 0 10px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 2rem;
  margin-top: 0;
  padding: 5px 50px;
  color: #fff;
}

.game-group {
  display: block;
}

.game-group li {
  display: inline-block;
  box-sizing: border-box;
  list-style: none;
  transition: all .5s ease-in-out;
  vertical-align: middle;
  scroll-snap-align: center;
}

/* .game-card {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 30%;
  overflow: visible;
  color: #000;
  margin: 0 5px 12px 0;
  position: relative;
} */
.game-card {
  position: relative;
}

.game-card img {
  height: 180px;
  width: 180px;
  border: 1px solid #424242;
  margin-right: 6px;
  float: left;
  transition: opacity .3s cubic-bezier(.5, 0, .1, 1);
  border-radius: 8px;
}

.game-card img:hover {
  box-shadow: 0px 0 5px 0x #35fdff;
  border-color: #35fdff;
  transition: transform .2s cubic-bezier(.5, 0, .1, 1);
  transition-delay: .3s;
}

.cover-title {
  color: #fff;
  bottom: 5px;
  z-index: 4;
  overflow: hidden;
  position: absolute;
  font-size: 1em;
  font-weight: 700;
  margin-left: 8px;
  margin-bottom: -180px;
  width: 200px;
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 1px 1px #000;
}

.head {
  margin: 2px 0 3px;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.1em;
  max-height: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 155px;
  float: left;
}

.stats {
  margin-top: 0;
  border-collapse: separate;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}